*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
h2, h4{
    margin-bottom: 0;
    padding-top: 5px;
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
}
.card-link{
    text-decoration: none;
}
.top-nav-bar{
    background-color: #231F20;
    display: flex;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    border-bottom: 3px solid rgb(24, 22, 21);
    z-index: 1;
}
.logo{
    margin: 5px 10px;
}
.d-logo{
    margin-right: 15%;
}
.input{
    max-width: 400px;
    height: 40px;
    margin-left: 30px;
    border: 1px solid  rgb(58, 38, 38);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
}
.input:focus{
    border-color: rgb(204, 190, 184);
}
.input-group-text{
    background: rgb(204, 115, 7);
    border: 1px solid rgb(204, 115, 7);
    margin: 3px 10px 3px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    padding: 11px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
}
.input-group-text:hover{
    opacity: 1;
}
.search-box{
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
    left: 0;
}
.right-sec{
    margin-left: auto;
    
}
.right-sec li{
    border-right: 1px solid white;
    background-color: rgb(70, 50, 43);
}
.cs-bg{
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}
.right-sec li:hover{   
 background-color: rgb(204, 115, 7);
}
.sec-1{
    margin-top: 2%;
}
.left-sec{
    height: 585px;
    border-radius: 10px;
    padding: 10px 15px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgba(228, 226, 222, 0.37);
}
.left-sec .nav-link{
    font-size: 1.1rem;
}
.left-sec .nav-link:hover{
    text-decoration: underline;
    color: rgb(194, 116, 87);
}
.icon{
    color: rgb(194, 116, 87);
}
.right-section{
    box-shadow: 1px 4px 6px 0px rgba(17, 17, 17, 0.75);
}
.cards .card-body img{
    transition: 0.3s;
}
.cards:hover .card-body img{
    transform: scale(1.2);
}
.cards:hover .card-footer h5{
    transform: scale(1.4);
}
.head-banner{
    background-color: rgb(61, 45, 39);
    color: white;
    font-size: 1.3rem;
    padding: 10px 15px;
    width: 15rem;
    border-bottom-right-radius: 110%;
}
.color-star{
    text-align: center;
    color: rgb(226, 188, 21);
    font-size: 1.2rem;
}
.card-products{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.card-products:hover{
    transform: scale(1.1);
}
.for-cards{
    display: flex;
    justify-content: space-around;
}
.cs-design{
    border: none;
    background-color: rgb(70, 50, 43);
    padding: 8px 15px;
    color: white;
    font-size: 1.2rem;
    opacity: 0.9;
}
.bg-cs{
    background-color: rgb(204, 115, 7);
    border-top: 1px solid white;
}
.cs-design:hover{
    opacity: 1;
}
.foot{
    background-color: #231F20;
    position: relative;
}
.foot-con .nav-link{
    transition: all 0.3s ease;
    font-size: 1.1rem;
}
.foot-con .nav-link:hover{
    text-decoration: underline;
}
.fa-icon{
    margin-right: 2%;
}
.app-store{
    opacity: 0.8;
}
.app-store:hover{
    opacity: 1;
}
.cards{
    width: 18rem;
}
.custom-layout{
    display: flex;
    justify-content: space-between;
}
.cs-bg-color{
    background-color: #231f20e7;
}
.container-form{
    width: 85%;
    max-width: 550px;
    margin: 80px auto;
    background-color: white;
    padding: 30px 60px 50px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #231F20;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.regis-main-form{
    display: grid;
    row-gap: 20px;
}
.regis-main-form label{
    font-family: Tahoma, sans-serif;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.regis-main-form input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px ridge rgba(31, 29, 18, 0.795);
    font-size: 15px;
    border-radius: 5px;
}
.regis-main-form input:focus{
    box-shadow: rgba(16, 224, 196, 0.795) 0px 4px 12px;
}
.container-form-title{
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-weight: 600;
}
.btn-hero{
    width: 50%;
    margin: auto;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right bottom, #5c321fde, #155e41de); 
}
.btn-hero:hover{
    box-shadow: #08AEEA 0px 4px 12px, #2AF598 0px 4px 12px;
}
.cs-btn{
    text-align: center;
    text-decoration: none;
    font-size: larger;
    color: blue;
}
.cs-btn:hover{
    text-decoration: underline;
    opacity: 0.9;
}
.cs-btn-design{
    padding: 5px 10px;
    border: 1px solid black;
    background-color: #e7dede;
}
.cart-head{
    border-bottom: 2px solid black;
}
.bg-cs-cart{
    background-color: #dbd1d1;
}
/* Responsive codes  */
@media screen and (max-width: 818px){
  
    .top-nav-bar{
        display: flex;
        flex-direction: column;
    }
    .right-sec{
        display: none;
    }
   
}
@media screen and (max-width: 808px){
   .search-box{
        width: 100%;
   }
   .d-logo{
    height: 60px;
}
   
}
@media screen and (max-width: 991px){
    .cards{
        width: 25rem;
        margin-bottom: 5%;
    }
    .custom-layout{
        flex-direction: column;
        align-items: center;
    }
    .head-banner{
        width: 100%;
        border-bottom-right-radius: 0%;
        text-align: center;
    }
    .for-cards{
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (max-width: 576px){
    .foot{
        text-align: center;
    }
    .cs-mar{
        margin-top: 5%;
    }
}
@media screen and (max-width: 767px){
    .cs-mar{
        margin-top: 5%;
    }
}
/* Responsive codes  */