*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
h2, h4{
    margin-bottom: 0;
    padding-top: 5px;
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
}
.card-link{
    text-decoration: none;
}
.top-nav-bar{
    background-color: #231F20;
    display: flex;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    border-bottom: 3px solid rgb(24, 22, 21);
    z-index: 1;
}
.logo{
    margin: 5px 10px;
}
.d-logo{
    margin-right: 15%;
}
.input{
    max-width: 400px;
    height: 40px;
    margin-left: 30px;
    border: 1px solid  rgb(58, 38, 38);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
}
.input:focus{
    border-color: rgb(204, 190, 184);
}
.input-group-text{
    background: rgb(204, 115, 7);
    border: 1px solid rgb(204, 115, 7);
    margin: 3px 10px 3px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    padding: 11px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
}
.input-group-text:hover{
    opacity: 1;
}
.search-box{
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
    left: 0;
}
.right-sec{
    margin-left: auto;
    
}
.right-sec li{
    border-right: 1px solid white;
    background-color: rgb(70, 50, 43);
}
.cs-bg{
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}
.right-sec li:hover{
    background-color: rgb(204, 115, 7);
}
@media screen and (max-width: 818px){
    .d-logo{
        height: 50px;
    }
    .top-nav-bar{
        display: flex;
        flex-direction: column;
    }
    .right-sec{
        display: none;
    }
   
}
.sec-1{
    margin-top: 2%;
}
.left-sec{
    height: 585px;
    border-radius: 10px;
    padding: 10px 15px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgba(228, 226, 222, 0.37);
}
.left-sec .nav-link{
    font-size: 1.1rem;
}
.left-sec .nav-link:hover{
    text-decoration: underline;
    color: rgb(194, 116, 87);
}
.icon{
    color: rgb(194, 116, 87);
}
.right-section{
    box-shadow: 1px 4px 6px 0px rgba(17, 17, 17, 0.75);
}
.cards .card-body img{
    transition: 0.3s;
}
.cards:hover .card-body img{
    transform: scale(1.2);
}
.cards:hover .card-footer h5{
    transform: scale(1.4);
}
.head-banner{
    background-color: rgb(61, 45, 39);
    color: white;
    font-size: 1.3rem;
    padding: 10px 15px;
    width: 15rem;
    border-bottom-right-radius: 110%;
}
.color-star{
    text-align: center;
    color: rgb(226, 188, 21);
    font-size: 1.2rem;
}
.card-products{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.card-products:hover{
    transform: scale(1.1);
}
.for-cards{
    display: flex;
    justify-content: space-around;
}
.cs-design{
    border: none;
    background-color: rgb(70, 50, 43);
    padding: 8px 15px;
    color: white;
    font-size: 1.2rem;
    opacity: 0.9;
}
.bg-cs{
    background-color: rgb(204, 115, 7);
    border-top: 1px solid white;
}
.cs-design:hover{
    opacity: 1;
}
.foot{
    height: 50vh;
    background-color: #231F20;
}
.foot-con .nav-link{
    transition: all 0.3s ease;
    font-size: 1.1rem;
}
.foot-con .nav-link:hover{
    text-decoration: underline;
}
.fa-icon{
    margin-right: 2%;
}
.app-store{
    opacity: 0.8;
}
.app-store:hover{
    opacity: 1;
}